* {
    font-family: sans-serif;
}

#root, body, html{
    /* background: #eeeeee */
    background: rgb(70, 53, 34);
    color: rgb(202, 178, 151);
}

a {
    text-decoration: none;
    color: inherit;
}