* {
    font-family: sans-serif;
}

#root, body, html{
    /* background: #eeeeee */
    background: rgb(51, 39, 24);
    background: rgb(70, 53, 34);
    background: rgb(0, 0, 0);
    color: rgb(219, 203, 183);
    color: rgb(68, 220, 240);
    color: rgb(255, 251, 235);
}

a {
    text-decoration: none;
    color: inherit;
}